#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,22
 PRODUCTVERSION 1,2,0,22
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "dashdogy"
            VALUE "FileDescription", "Universal DLSS Multi Frame Generation enabler for supported games on NVIDIA GeForce RTX 40 Series GPUs."
            VALUE "FileVersion", "1.2.0.22"
            VALUE "InternalName", "RTX40MFG-UI.addon64"
            VALUE "OriginalFilename", "RTX40MFG-UI.addon64"
            VALUE "ProductName", "Universal RTX 40 MFG Unlock V1.2 UI"
            VALUE "ProductVersion", "1.2.0.22"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
